<!doctype html>
<html class="sapUShellFullHeight">
    <head>
        <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fiori Launchpad Sandbox</title>

        <script>
            window["sap-ushell-config"] = {
                defaultRenderer: "fiori2",
                renderers: {
                    fiori2: {
                        componentData: {
                            config: {
                                enableSearch: false,
                                enableUserDefaultParameters: true,
                                rootIntent: "Shell-home"
                            }
                        }
                    }
                },
                services: {
                    NavTargetResolution: {
                        config: {
                            allowTestUrlComponentConfig: true,
                            enableClientSideTargetResolution: true
                        }
                    },
                    SupportTicket: {
                        // switched off as the local adapter is not connected to a ticket system
                        config: {
                            enabled: false
                        }
                    },
                    EndUserFeedback: {
                        adapter: {
                            config: {
                                enabled: false
                            }
                        }
                    },
                    SmartNavigation: {
                        config: {
                            isTrackingEnabled: true
                        }
                    }
                }
            };
        </script>

        <script id="sap-ui-bootstrap" src="test-resources/sap/ushell/bootstrap/sandbox.js"></script>

        <script
            id="sap-ui-bootstrap"
            src="resources/sap-ui-core.js"
            data-sap-ui-resourceroots='{
            "appconfig":"./appconfig",
            "<%= appId %>": "./"
        }'
            data-sap-ui-theme="<%= defaultTheme %>"
            data-sap-ui-oninit="module:appconfig/appstart"
            data-sap-ui-async="true"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-frameOptions="trusted"
            data-sap-ui-xx-waitForTheme="true"
            data-sap-ui-xx-supportedLanguages="en,de"
        ></script>
    </head>

    <body class="sapUiBody">
        <div id="content"></div>
    </body>
</html>
